{
    "root": true,
    "env": {
        "browser": false,
        "commonjs": true,
        "es6": true
    },
    "globals": {
        "__CONFIG__": true,
        "__ENV__": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "project": "./tsconfig.json",
        "ecmaFeatures": {
            // Enabled object spread
            "experimentalObjectRestSpread": true
        },
        "workingDirectories": [{ "directory": "backend", "changeProcessCWD": true }]
    },
    "extends": [
        "airbnb-typescript/base",
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "prettier/@typescript-eslint"
    ],
    "plugins": ["@typescript-eslint"],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    // Rule changes from Airbnb's eslint config
    "rules": {
        "indent": "off",
        "implicit-arrow-linebreak": 0,
        "linebreak-style": ["error", "unix"],
        "max-len": 0,
        "no-plusplus": 0,
        "no-underscore-dangle": 0,
        "import/prefer-default-export": 0,
        "template-curly-spacing": ["off"],
        "array-callback-return": 0
    }
}
