@import '../../../app/styles/rem.scss';

.secondaryVideosContainer {
    width: auto !important;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: rem(20px);
    right: rem(20px);
    border-radius: rem(14px);
    padding: rem(10px);
    gap: rem(10px);

    &:hover {
        cursor: grab;
    }

    .secondaryVideo {
        max-width: rem(240px);
        height: 100%;
    }

    .secondaryVideoWrapper {
        max-height: rem(140px);
        border-radius: rem(14px);
        overflow: hidden;
        border: rem(1px) solid var(--white);
        transition: border 200ms ease-in-out;
    }

    .clicable {
        &:hover {
            cursor: pointer;
            border-color: var(--light-blue-09);
        }
    }
}

.mainVideoContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .mainVideoWrapper {
        max-height: 80%;
        max-width: 80%;
        width: 100%;
        overflow-y: hidden;
        border-radius: rem(14px);

        .mainVideo {
            width: 100%;
            height: 100%;
        }
    }
}
